
<% if signed_in? %>
	<h2> Welcome, <%= @parent.name %>! </h2>
	<h1> What do you need help with today? </h1>
	<div class="input-append span10">
		<input type="text" placeholder="Search">
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
    <!-- Carousel
    ================================================== -->
    <div class="clearfix"></div>
    <h2>Popular Deals in ....</h2> <!--fill in with user location-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        	<div class="row-fluid">
        		<div class='span1'></div>
        		    <% 5.times do |n| %>
						<%= render 'shared/daily_deal' %>
					<% end %>
				<div class='span1'></div>
	        </div>
        </div>
        <% 2.times do |n| %>
          <div class="item">
          	<div class="row-fluid">
          		<div class='span1'></div>
          		    <% 5.times do |n| %>
  						      <%= render 'shared/daily_deal' %>
  					      <% end %>
  				    <div class='span1'></div>
  	        </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-chevron-right"></span></a>
    </div><!-- /.carousel -->

  <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class='span12 kuler-background'><h3>Our most popular services</h3></div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
		    <%= render 'shared/popular_service', :locals => {:icon => 'icon-music', :category => 'Music' } %>
        <%= render 'shared/popular_service', :locals => {:icon => 'icon-star', :category => 'Academics' } %>
        <%= render 'shared/popular_service', :locals => {:icon => 'icon-heart', :category => 'Soft Skills' } %>
      </div><!-- /.row -->

<% else %>
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<% end %>
